<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body>
USER CREATE <br />
username: <input class="input_param" id="input_username" name="username" /> <br />
password: <input class="input_param" id="input_password" name="password" /> <br />
name: <input class="input_param" id="input_name" name="name" /> <br />
nickname: <input class="input_param" id="input_nickname" name="nickname" /> <br />
phone: <input class="input_param" id="input_phone" name="phone" /> <br />
birthday: <input class="input_param" id="input_birthday" name="birthday" /> <br />
gender: <select class="input_param" id="input_gender" name="gender">
    <option value="20">MALE</option>
    <option value="10">FEMALE</option>
</select> <br />
<button onclick="create_user()">Create</button>

<script>
    function create_user() {
        let _param = {};
        let input_param = $(".input_param");
        for (let each of input_param) {
            let tempName = $(each).attr("name");
            _param[tempName] = $(each).val();
        }

        $.ajax({
            url: '/api/user',
            method: 'POST',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(_param),
            success: function (data, status, xhr) {
                let result_status = data["status"];
                alert("success : " + JSON.stringify(data));
            },
            error: function (data, status, err) {
            },
            complete: function () {
            }
        });
    }
</script>
</body>
</html>