<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Detail</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>

<body>
    detail
    <div>
        id: <span id="text_id"></span> <br />
        createdAt: <span id="text_createdAt"></span> <br />
        title: <input id="input_title" /> <br />
        content: <input id="input_content" /> <br />
        author: <input id="input_author" /> <br />
    </div>

    <!-- <button onclick="detail_board()">detail</button> -->
    <button onclick="update_board()">update</button>
    <button onclick="delete_board()">delete</button>

    <script>
        // let tempHref = location.href; // http://localhost:8080/board/detail?id=2
        // let id = tempHref.split("=")[1]; // using @RequestParam
        // or
        // let tempHref = location.href; // http://localhost:8080/board/detail/2 // 2?a=2
        // let arrayHref = tempHref.split("/"); // using @PathVariable
        // let id = arrayHref[arrayHref.length - 1]; // 2?a=2
        // // how to get rid of '?a=2'
        // arrayHref = location.href.split("?");
        // if (arrayHref.length > 1) { id = arrayHref[0]; }

        let tempHref = location.href.split("?")[0];
        let arrayHref = tempHref.split("/");
        let id = arrayHref[arrayHref.length - 1];

        $(function () {
            detail_board();
        });

        function detail_board() {
            $.ajax({
                // url: '/api/board/detail', // for @PathVariable: url: '/api/board/detail/' + tempId,
                url: '/api/board/detail/' + id,
                method: 'GET',
                success: function (data, status, xhr) {
                    alert("success : " + JSON.stringify(data));
                    let board = data["list"];
                    if (board) {
                        $("#input_title").val(board["title"]);
                        $("#input_content").val(board["content"]);
                        $("#input_author").val(board["author"]);
                        $("#text_createdAt").html(board["createdAt"]);
                    }
                },
                error: function (data, status, err) {
                    alert("error: " + err);
                }
            });
        }

        function update_board() {
            $.ajax({
                // url: '/api/board/update',
                url: '/api/board/update/' + id,
                method: 'GET',
                data: {
                    // id: $("#text_id").val(),
                    title: $("#input_title").val(),
                    content: $("#input_content").val(),
                    author: $("#input_author").val()
                },
                success: function (data, status, xhr) {
                    alert("success : " + JSON.stringify(data));
                },
                error: function (data, status, err) {
                    alert("error: " + err);
                }
            });
        }
        function delete_board() {
            $.ajax({
                // url: '/api/board/update',
                url: '/api/board/delete/' + id,
                method: 'GET',
                success: function (data, status, xhr) {
                    alert("success : " + JSON.stringify(data));
                    detail_board();
                },
                error: function (data, status, err) {
                    alert("error: " + err);
                }
            });
        }
    </script>

</body>

</html>