spring:
  application:
    name: demo

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/SBC2026winter?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: ***